<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment 2 - DBS501</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }

      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
      }

      .navbar a {
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
      }

      .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      h1 {
        text-align: center;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <h1>HR Management</h1>
      <div>
        <a href="/">Home</a>
        <a href="/jobs">Jobs</a>
        <a href="/employees">Employees</a>
        <a href="/departments">Departments</a>
      </div>
    </div>
    <div class="container">
      <h1>Assignment 2 - DBS501 Course</h1>
      <p>
        Welcome to Assignment 2 for the DBS501 course, led by Professor Ersan
        Cam. The assignment was successfully completed by students Khushwant
        Singh Rao, Nirav Parekh, and Abhishek Kumar Singh.
      </p>
      <p>
        In this project, we have developed an HR Management system that enables
        the efficient management of employees, jobs, managers, and departments
        within an organization. Leveraging the power of Node.js and Oracle
        database, the system showcases the use of advanced features such as
        stored procedures and triggers to ensure data integrity and enforce
        business rules.
      </p>
    </div>
  </body>
</html>
